*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(84, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contactBox{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 10px rgb(35, 34, 34,0.8);
    
}
label{
    font-weight: bold;
    margin: 10px;

}
h1{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);

}
#submit{
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid black;
    cursor:pointer;
    background-color: rgb(84, 83, 83);
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    transition:0.3s;
}
#submit:hover{
    color: white;
    background-color: black;
}
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
footer a {
    color: lightblue;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}